<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelManagementSystem</title>
    <base href="~/" />
    <link href="~/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true">
    <link href="~/dist/assets/css/custom.css" rel="stylesheet" asp-append-version="true">
    @*<link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />*@
    <!-- Updates -->
    <link href="~/dist/updates/update1/css/style01.css" rel="stylesheet" asp-append-version="true">
    <!-- Carousel -->
    <link href="~/dist/examples/carousel/carousel.css" rel="stylesheet" asp-append-version="true">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,300,300italic' rel='stylesheet' type='text/css'>
    <!-- Font-Awesome -->
    <link rel="stylesheet" type="text/css" href="~/dist/assets/css/font-awesome.css" media="screen" />
    <!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="assets/css/font-awesome-ie7.css" media="screen" /><![endif]-->
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="~/dist/css/fullscreen.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/dist/rs-plugin/css/settings.css" media="screen" />
    <link href="~/dist/css/togglebutton.css" rel="stylesheet" />
    <!-- Picker UI-->
    <link rel="stylesheet" href="~/dist/assets/css/jquery-ui.css" />

    <!-- bin/jquery.slider.min.css -->
    <link rel="stylesheet" href="~/dist/plugins/jslider/css/jslider.css" type="text/css">
    <link rel="stylesheet" href="~/dist/plugins/jslider/css/jslider.round.css" type="text/css">

    <!-- jQuery -->
    <script src="~/dist/assets/js/jquery.v2.0.3.js" asp-append-version="true"></script>
    <!-- Bootstrap -->
    <script src="~/dist/js/bootstrap.min.js" asp-append-version="true"></script>

    <!-- bin/jquery.slider.min.js -->
    <script src="~/dist/plugins/jslider/js/jshashtable-2.1_src.js" asp-append-version="true"></script>
    <script src="~/dist/plugins/jslider/js/jquery.numberformatter-1.2.3.js" asp-append-version="true"></script>
    <script src="~/dist/plugins/jslider/js/tmpl.js" asp-append-version="true"></script>
    <script src="~/dist/plugins/jslider/js/jquery.dependClass-0.1.js" asp-append-version="true"></script>
    <script src="~/dist/plugins/jslider/js/draggable-0.1.js" asp-append-version="true"></script>
    <script src="~/dist/plugins/jslider/js/jquery.slider.js" asp-append-version="true"></script>

</head>
<body id="top" class="thebg">
    @RenderBody()
    <environment include="Development">
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
                $(".place").click(function () {
                    $(this).toggleClass("green");
                });
            });
        </script>
        <script type="text/javascript">
            $("#Slider1").slider({ from: 100, to: 1000, step: 5, smooth: true, round: 0, dimension: "&nbsp;$", skin: "round" });
        </script>

        @* custome js files start *@
        <!-- Javascript -->
        <!-- This page JS -->
        <!-- Counter -->
        <!-- Custom Select -->
        <!-- Counter -->
        <!-- Counter -->

        <script src="~/dist/assets/js/js-list2.js"></script>

        <!-- Custom Select -->
        <script type='text/javascript' src='~/dist/assets/js/jquery.customSelect.js'></script>

        <!-- JS Ease -->
        <script src="~/dist/assets/js/jquery.easing.js"></script>

        <!-- Custom functions -->
        <script src="~/dist/assets/js/functions.js"></script>

        <!-- jQuery KenBurn Slider  -->
        <script type="text/javascript" src="~/dist/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

        <!-- Counter -->
        <script src="~/dist/assets/js/counter.js"></script>

        <!-- Nicescroll  -->
        <script src="~/dist/assets/js/jquery.nicescroll.min.js"></script>

        <!-- Picker -->
        <script src="~/dist/assets/js/jquery-ui.js"></script>



        @*This below Js Script file is giving conflicts with dropdowns*@
        @*<script src="~/dist/assets/js/js-index.js"></script>*@


        <!-- jQuery KenBurn Slider  -->
        <script type="text/javascript" src="~/dist/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

        <!-- Nicescroll  -->
        <script src="~/dist/assets/js/jquery.nicescroll.min.js"></script>

        <!-- CarouFredSel -->
        <script src="~/dist/assets/js/jquery.carouFredSel-6.2.1-packed.js"></script>
        <script src="~/dist/assets/js/helper-plugins/jquery.touchSwipe.min.js"></script>
        <script type="text/javascript" src="~/dist/assets/js/helper-plugins/jquery.mousewheel.min.js"></script>
        <script type="text/javascript" src="~/dist/assets/js/helper-plugins/jquery.transit.min.js"></script>
        <script type="text/javascript" src="~/dist/assets/js/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>



        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="~/dist/js/bootstrap.min.js"></script>
        <!-- Custom Select -->
        @* custom js file end *@
        <script src="~/dist/lib/jquery/dist/jquery.js"></script>
        <script src="~/dist/js/site.js" asp-append-version="true"></script>

    </environment>
    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>*@
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
