<style>
    .filtertip {
        height: 50px;
    }

    .line4 {
        margin: 1px 0 5px 0;
    }

    .hotelpreferences2 li.place {
        background-color: #72bf66;
    }

        .hotelpreferences2 li.place:hover, .hotelpreferences2 li.place.green {
            background-color: #428bca;
        }
</style>

<div class="container breadcrub">
    <div>
        <a class="homebtn left" href="#"></a>
        <div class="left">
            <ul class="bcrumbs">
                <li>/</li>
                <li>
                    <a href="#" class="active">Admin</a>
                </li>
            </ul>
        </div>
        <a class="backbtn right" href="#"></a>
    </div>
    <div class="clearfix"></div>
    <div class="brlines"></div>
</div>

<!-- CONTENT -->
<div class="container">


    <div class="container mt25 offset-0">


        <!-- CONTENT -->
        <div class="col-md-12 pagecontainer2 offset-0">

            <!-- LEFT MENU -->
            <div class="col-md-1 offset-0">
                <!-- Nav tabs -->
                <ul class="nav profile-tabs">
                    <li class="active">
                        <a href="#room" data-toggle="tab">
                            <span class="appearance-icon"></span>
                            Room Management
                        </a>
                    </li>
                    <li>
                        <a href="#bookings" data-toggle="tab" onclick="mySelectUpdate()" (click)="filterrooms('','',true)">
                            <span class="bookings-icon"></span>
                            Room Booking
                        </a>
                    </li>
                    <li>
                        <a href="#bookedrooms" data-toggle="tab" onclick="mySelectUpdate()" (click)=showBookedRooms()>
                            <span class="bookings-icon"></span>
                            Booked Rooms
                        </a>
                    </li>
                    <li>
                        <a href="#facility" data-toggle="tab">
                            <span class="forums-icon"></span>
                            Facilities
                        </a>
                    </li>
                    <li>
                        <a href="#settings" data-toggle="tab" onclick="mySelectUpdate()" (click)=getHotelDetails()>
                            <span class="settings-icon"></span>
                            Settings
                        </a>
                    </li>

                    <!--<li>
                        <a href="#password" data-toggle="tab" onclick="mySelectUpdate()">
                            <span class="password-icon"></span>
                            Change password
                        </a>
                    </li>-->

                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- LEFT MENU -->
            <!-- RIGHT CPNTENT -->
            <div class="col-md-11 offset-0">
                <!-- Tab panes from left menu -->
                <div class="tab-content5">

                    <!-- TAB 1 -->
                    <div class="tab-pane padding40 active" id="room">


                        <div class="clearfix"></div>
                        <span class="size16 bold">Room details</span>
                        <div class="line2"></div>
                        <!-- COL 1 -->
                        <div *ngIf="AddTable">
                            <div class="col-md-12 offset-0">
                                <br />
                                <div class="row">
                                    <input type="hidden" class="form-control input-number" #Id (ngModel)="roomid" value="{{roomid}}">
                                    <div class="col-md-2">
                                        Number of beds *:
                                        <div class="center">
                                            <angular2-number-picker [min]="1" [max]="6" [step]="1" [precision]="1" [inputDisabled]="true" (onChange)="Numberofbeds($event)"></angular2-number-picker>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        Number of adults *:
                                        <div class="center">
                                            <angular2-number-picker [min]="1" [max]="6" [step]="1" [precision]="1" [inputDisabled]="true" (onChange)="Numberofadults($event)"></angular2-number-picker>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        Number of child *:
                                        <div class="center">
                                            <angular2-number-picker [min]="0" [max]="6" [step]="1" [precision]="1" [inputDisabled]="true" (onChange)="Numberofchild($event)"></angular2-number-picker>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        Booking status *:
                                        <label class="switch">
                                            <input type="checkbox" #Status [(ngModel)]="status" value="{{status}}" checked="{{status}}">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        Floor *:
                                        <select class="form-control mySelectBoxClass" #Floor (ngModel)="floor" value="{{floor}}">
                                            <option value="Basement">Basement</option>
                                            <option value="Ground">Ground</option>
                                            <option value="First Floor">First Floor</option>
                                            <option value="Second Floor">Second Floor</option>
                                            <option value="Third Floor">Third Floor</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        Room No*:
                                        <input type="text" class="form-control" placeholder="Room Number" rel="popover" data-content="Enter Room Number" data-original-title="Enter Room Number" #Roomnumber>
    <!--<select class="form-control mySelectBoxClass" #Roomnumber (ngModel)="roomnumber" value="{{roomnumber}}">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
    </select>-->
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        Rent/day($) *:
                                        <input type="number" class="form-control" #Feeperday (ngModel)="feePerDay" value="{{feeperday}}" />
                                    </div>
                                    <div class="col-md-2">
                                        Rent/week($) :
                                        <input type="number" class="form-control" #Feeperweek (ngModel)="feeperweek" value="{{feeperweek}}" />
                                    </div>
                                    <div class="col-md-2">
                                        Rent/month($) :
                                        <input type="number" class="form-control" #Feepermonth (ngModel)="feepermonth" value="{{feepermonth}}" />
                                    </div>
                                    <div class="col-md-3">
                                        Room Type *:
                                        <select class="form-control mySelectBoxClass" #Roomtype (ngModel)="roomtype" value="{{roomtype}}">
                                            <option value="Executive">Executive</option>
                                            <option value="Luxury">Luxury</option>
                                            <option value="Business">Business</option>
                                            <option value="Single bed">Single bed</option>
                                            <option value="Double bed">Double bed</option>
                                            <option value="Private">Private</option>
                                            <option value="VIP">VIP</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        Change percentage *: <i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Percentage factor is important regarding seasonal change in rent of rooms (change percentage X room rent = current season rent)"></i>
                                        <input type="number" #ChangePercentage (ngModel)="percentagechange" value="{{percentagechange}}" min="1" max="100" class="form-control" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        Description (optional):
                                        <input type="text" class="form-control" placeholder="Room is perfect for business class" rel="popover" data-content="This field is mandatory" data-origina3azcdd3wxw1qq1qwacxccdxdsw12vfl-title="Here you can edit your username" #Description (ngModel)="description" value="{{description}}">
                                    </div>
                                    <div class="col-md-6">
                                        Image (optional):
                                        <input type="file" class="form-control" required (change)="fileChange($event)" placeholder="Upload file" accept=".jpg,.jpeg,.png,.pdf,.doc,.docx">
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        Room facilities* :
                                        <div *ngIf="btntext == 'Add'; else elseBlockk">
                                            <div class="btn-group btn-group-toggle" *ngFor="let facility of facilities">
                                                <span *ngIf="facility.isAvailable;">
                                                    <label class="btn btn-secondary btn-primary" ngbButtonLabel>
                                                        <input type="checkbox" (change)=SetFacility($event.target.checked,facility.facilityName)> {{facility.facilityName}}
                                                    </label>
                                                </span>
                                            </div>
                                        </div>
                                        <ng-template #elseBlockk>
                                            <div class="btn-group btn-group-toggle" *ngFor="let facility of facilities">
                                                <div *ngIf="facility.isAvailable;">
                                                    <div *ngIf="facilitiesToEdit.includes(facility.facilityName); else elsef">
                                                        <label class="btn btn-secondary btn-primary" ngbButtonLabel>
                                                            <input type="checkbox" (change)=SetFacility($event.target.checked,facility.facilityName) checked> {{facility.facilityName}}
                                                        </label>
                                                    </div>
                                                    <ng-template #elsef>
                                                        <div>
                                                            <label class="btn btn-secondary btn-primary" ngbButtonLabel>
                                                                <input type="checkbox" (change)=SetFacility($event.target.checked,facility.facilityName)> {{facility.facilityName}}
                                                            </label>
                                                        </div>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <button (click)=HideNewRoom() type="submit" class="btn btn-danger margtop20 margleft15 right">Cancel</button>
                                        <button (click)=AddRoom(Id.value,Roomnumber.value,Floor.value,Roomtype.value,Description.value,Feeperday.value,Feeperweek.value,Feepermonth.value,ChangePercentage.value,Status.checked) type="submit" class="btn btn-primary margtop20 right">{{btntext}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class="row">
                            <div class="panel panel-default panel-table">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <h3 class="panel-title">Rooms List</h3>
                                        </div>
                                        <div class="col col-xs-6 text-right">
                                            <button (click)=ShowNewRoom() type="button" class="btn btn-sm btn-primary btn-create"><span class="glyphicon glyphicon-plus"></span> New room</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped table-bordered table-list">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <em class="glyphicon glyphicon-cog"></em>
                                                </th>
                                                <th>Floor</th>
                                                <th>No of beds</th>
                                                <th>Adults capacity</th>
                                                <th>Children capacity</th>
                                                <th>Room type</th>
                                                <th>Status</th>
                                                <th>Rent/Day</th>
                                                <th>Rent/Week</th>
                                                <th>Rent/Month</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let room  of roomslist">
                                            <tr>
                                                <td align="center" style="min-width:100px;">
                                                    <a (click)=editRoomDetails(room.roomID,room.roomNo,room.floor,room.noOfBed,room.noOfAdult,room.noOfChild,room.roomType,room.description,room.feePerDay,room.feePerWeek,room.feePerMonth,room.percentageChange,room.facilities) class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Edit room"><em class="glyphicon glyphicon-pencil"></em></a>
                                                    <a (click)=delete(room.roomID) class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Delete room"><em class="glyphicon glyphicon-trash"></em></a>
                                                    <a (click)=showinfo(room.description) class="btn btn-xs btn-info" data-placement="top" title="Room Description and facilities" data-toggle="modal" data-target="#myModal"><em class="glyphicon glyphicon-info-sign"></em></a>
                                                </td>
                                                <td>{{room.floor}}</td>
                                                <td>{{room.noOfBed}}</td>
                                                <td>{{room.noOfAdult}}</td>
                                                <td>{{room.noOfChild}}</td>
                                                <td>{{room.roomType}}</td>
                                                <td>{{room.status}}</td>
                                                <td>{{room.feePerDay}}</td>
                                                <td>{{room.feePerWeek}}</td>
                                                <td>{{room.feePerMonth}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col col-xs-4">
                                            Page 1 of 5
                                        </div>
                                        <div class="col col-xs-8">
                                            <ul class="pagination hidden-xs pull-right">
                                                <li>
                                                    <a href="#">1</a>
                                                </li>
                                                <li>
                                                    <a href="#">2</a>
                                                </li>
                                                <li>
                                                    <a href="#">3</a>
                                                </li>
                                                <li>
                                                    <a href="#">4</a>
                                                </li>
                                                <li>
                                                    <a href="#">5</a>
                                                </li>
                                            </ul>
                                            <ul class="pagination visible-xs pull-right">
                                                <li>
                                                    <a href="#">«</a>
                                                </li>
                                                <li>
                                                    <a href="#">»</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END OF COL 1 -->

                    <div class="clearfix"></div>

                    <!-- END OF TAB 1 -->
                    <!-- TAB 2 -->
                    <div class="tab-pane" id="bookings">
                        <!-- CONTENT -->
                        <div class="container">
                            <div class="container pagecontainer offset-0">

                                <!-- FILTERS -->
                                <div class="col-md-12 filters offset-0">


                                    <!-- TOP TIP -->
                                    <div class="filtertip">
                                        <div class="padding20">
                                            <p class="size13"><span class="size18 bold">Filters</span></p>
                                        </div>
                                        <div class="tip-arrow"></div>
                                    </div>


                                    <!-- Star ratings -->
                                    <!--<button type="button" class="collapsebtn" data-toggle="collapse" data-target="#collapse1">
                                        General Filters <span class="collapsearrow"></span>
                                    </button>-->

                                    <div id="collapse1" class="collapse in">
                                        <div class="col-md-12">
                                            <br />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    Floor:
                                                    <select class="form-control mySelectBoxClass" #Floor>
                                                        <option value="All">All</option>
                                                        <option value="Basement">Basement</option>
                                                        <option value="Ground">Ground</option>
                                                        <option value="First Floor">First Floor</option>
                                                        <option value="Second Floor">Second Floor</option>
                                                        <option value="Third Floor">Third Floor</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    Room No:
                                                    <input type="text" class="form-control" placeholder="Room Number" rel="popover" data-content="Enter Room Number" data-original-title="Enter Room Number" #Roomnumber value="All">
                                                </div>
                                                <div class="col-md-4">
                                                    Availability status:
                                                    <label class="switch">
                                                        <input type="checkbox" #Availabilitystatus>
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <br />
                                        </div>
                                        <div class="line2"></div>

                                        <div class="col-md-12">
                                            Room Type:
                                            <br />
                                            <div class="row">
                                                <div class="hpadding20">
                                                    <div class="btn-group btn-group-toggle" *ngFor="let type of roomType">

                                                        <label (click)="SetRoomType(type);" class="btn btn-secondary btn-primary">
                                                            <input type="radio" name="options" value="{{type}}" autocomplete="off"> {{type}}
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>

                                        <div class="line2"></div>
                                        <div class="col-md-12">
                                            Facilities:
                                            <br />
                                            <div class="row">
                                                <div class="hpadding20">
                                                    <div class="btn-group btn-group-toggle" *ngFor="let facility of facilities">
                                                        <span *ngIf="facility.isAvailable;">
                                                            <label class="btn btn-secondary btn-primary" ngbButtonLabel>
                                                                <input type="checkbox" (change)=SetFacility($event.target.checked,facility.facilityName)> {{facility.facilityName}}
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="line2"></div>
                                            <button (click)=filterrooms(Floor.value,Roomnumber.value,Availabilitystatus.checked) class="btn btn-danger margtop20"><i class="glyphicon glyphicon-filter"></i> Filter Rooms</button>
                                        </div>

                                    </div>

                                    <!-- End of Hotel Preferences -->

                                    <div class="clearfix"></div>
                                    <br />


                                </div>
                                <!-- END OF FILTERS -->
                                <!-- LIST CONTENT-->
                                <div class="rightcontent col-md-12 offset-0">

                                    <div class="hpadding20">
                                        <!-- Top filters -->
                                        <!--<div class="topsortby">
                                            <div class="col-md-4 offset-0">

                                                <div class="left mt7"><b>Sort by:</b></div>

                                                <div class="right wh70percent">
                                                    <select class="form-control mySelectBoxClass ">
                                                        <option selected>Guest rating</option>
                                                        <option>5 stars</option>
                                                        <option>4 stars</option>
                                                        <option>3 stars</option>
                                                        <option>2 stars</option>
                                                        <option>1 stars</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="w50percent">
                                                    <div class="wh90percent">
                                                        <select class="form-control mySelectBoxClass ">
                                                            <option selected>Name</option>
                                                            <option>A to Z</option>
                                                            <option>Z to A</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="w50percentlast">
                                                    <div class="wh90percent">
                                                        <select class="form-control mySelectBoxClass ">
                                                            <option selected>Price</option>
                                                            <option>Ascending</option>
                                                            <option>Descending</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 offset-0">
                                                <button class="popularbtn left">Most Popular</button>
                                                <div class="right">
                                                    <button class="gridbtn active">&nbsp;</button>
                                                    <button class="listbtn" onClick="window.open('list4.html','_self');">&nbsp;</button>
                                                    <button class="grid2btn" onClick="window.open('list3.html','_self');">&nbsp;</button>
                                                </div>
                                            </div>
                                        </div>-->
                                        <!-- End of topfilters-->
                                    </div>
                                    <!-- End of padding -->

                                    <br /><br />
                                    <div class="clearfix"></div>
                                    <div class="itemscontainer offset-1">
                                        <ng-container *ngFor="let item of filterroomslist; let i = index">
                                            <div class="col-md-4">
                                                <div class="listitem">
                                                    <img src="/dist/RoomImages/{{item.image}}" alt="" />
                                                </div>
                                                <div class="itemlabel">
                                                    <button class="bookbtn right mt1" data-toggle="modal" data-target="#customerInfoModal" (click)="RoomIDBooking(item.roomID , item.feePerDay)">Book</button>
                                                    <b>{{item.roomNo}}</b><br />
                                                    <p class="lightgrey"><span class="green size14"><b>{{item.feePerDay}}</b></span> avg/night</p>
                                                </div>
                                            </div>
                                            <ng-container *ngIf="(i+1)%3==0">
                                                <div class="clearfix"></div>
                                                <div class="offset-2"><hr class="featurette-divider3"></div>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                    <!-- End of offset1-->
                                    <!--<div class="hpadding20">
                                        <ul class="pagination right paddingbtm20">
                                            <li class="disabled"><a href="#">&laquo;</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">&raquo;</a></li>
                                        </ul>

                                    </div>-->
                                </div>
                                <!-- END OF LIST CONTENT-->
                            </div>
                            <!-- END OF container-->
                        </div>
                        <!-- END OF CONTENT -->
                    </div>
                    <!-- END OF TAB 2 -->
                    <!-- TAB 2 -->
                    <div class="tab-pane" id="bookedrooms">
                        <!-- CONTENT -->
                        <div class="container" style="margin-top:30px;">
                            <div class="panel panel-default panel-table">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <h3 class="panel-title" style="margin-top:7px;">Booked Rooms List</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped table-bordered table-list">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <em class="glyphicon glyphicon-cog"></em>
                                                </th>
                                                <th>Room #</th>
                                                <th>Floor</th>
                                                <th>Customer Name</th>
                                                <th>From Date</th>
                                                <th>To Date</th>
                                                <th>Room type</th>
                                                <th>Remaining Days</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let room  of bookedrooms">
                                            <tr>
                                                <td align="center">
                                                    <!--<a class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Edit room"><em class="glyphicon glyphicon-pencil"></em></a>-->
                                                    <a class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Unbook this room"><em class="glyphicon glyphicon-remove-circle" (click)=CancelBookedRoom(room.roomID)></em></a>
                                                    <!--<a class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" title="Room Description and facilities"><em class="glyphicon glyphicon-info-sign"></em></a>-->
                                                </td>
                                                <td>{{room.roomNo}}</td>
                                                <td>{{room.floor}}</td>
                                                <td>{{room.customerName}}</td>
                                                <td>{{room.fromeDateTime}}</td>
                                                <td>{{room.toDateTime}}</td>
                                                <td>{{room.roomType}}</td>
                                                <td>{{room.remainingDays}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col col-xs-4">
                                            Page 1 of 5
                                        </div>
                                        <div class="col col-xs-8">
                                            <ul class="pagination hidden-xs pull-right">
                                                <li>
                                                    <a href="#">1</a>
                                                </li>
                                                <li>
                                                    <a href="#">2</a>
                                                </li>
                                                <li>
                                                    <a href="#">3</a>
                                                </li>
                                                <li>
                                                    <a href="#">4</a>
                                                </li>
                                                <li>
                                                    <a href="#">5</a>
                                                </li>
                                            </ul>
                                            <ul class="pagination visible-xs pull-right">
                                                <li>
                                                    <a href="#">«</a>
                                                </li>
                                                <li>
                                                    <a href="#">»</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END OF container-->
                        </div>
                        <!-- END OF CONTENT -->
                    </div>

                    <!-- END OF TAB 3 -->
                    <div class="tab-pane" id="facility">
                        <facility></facility>
                    </div>
                    <!-- END OF TAB 3 -->
                    <div class="tab-pane" id="settings">
                        <div class="padding40 dark">

                            <span class="dark size18">Hotel Information</span>
                            <div class="line4"></div>

                            <div class="row">
                                <input type="hidden" class="form-control input-number" #HotelId (ngModel)="hoteldetails" value="{{hoteldetails.id}}">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <span>Hotel Name*:</span>
                                    <input class="form-control" type="text" #Hotelname (ngModel)="hoteldetails" value="{{hoteldetails.hotelName}}" name="hotelname" placeholder="Hotel Name" />
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 ">
                                    <span>Phone Number*:</span>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <input class="form-control" type="number" #Hotelfirstnumber (ngModel)="hoteldetails" value="{{hoteldetails.phoneNumberFirst}}" name="hotelphone1" placeholder="First Phone Number" />
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <input class="form-control" type="number" #Hotelsecondnumber (ngModel)="hoteldetails" value="{{hoteldetails.phoneNumberSecond}}" name="hotelphone2" placeholder="Second Phone Number" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <span>Country:</span>
                                            <input class="form-control" type="text" #Hotelcountry (ngModel)="hoteldetails" value="{{hoteldetails.country}}" name="hotelcountry" placeholder="Country" />
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <span>State:*</span>
                                            <input class="form-control" type="text" #Hotelstate (ngModel)="hoteldetails" value="{{hoteldetails.state}}" name="hotelstate" placeholder="State" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <span>City*:</span>
                                            <input class="form-control" type="text" #Hotelcity (ngModel)="hoteldetails" value="{{hoteldetails.city}}" name="hotelcity" placeholder="Enter City" />
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <span>Zip Code*:</span>
                                            <input class="form-control" type="number" #Hotelzipcode (ngModel)="hoteldetails" value="{{hoteldetails.zipCode}}" name="hotelzipcode" placeholder="Zip Code" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 ">
                                    <span>Address*:</span>
                                    <input class="form-control" type="text" #Hoteladdress (ngModel)="hoteldetails" value="{{hoteldetails.hotelAddress}}" name="hoteladdress" placeholder="Enter Hotel Address" />
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12 ">
                                    <span>License:</span>
                                    <input class="form-control" type="text" #Hotellicensenumber (ngModel)="hoteldetails" value="{{hoteldetails.lisenceNo}}" name="hotellicensenumber" placeholder="License Number" />
                                </div>
                            </div>

                            <br />
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 ">
                                    <span>Header Notes:</span>
                                    <textarea class="form-control" #Hotelheadernotes (ngModel)="hoteldetails" value="{{hoteldetails.headerNotes}}" name="headernotes" placeholder="Info for notes to be appeared in header"></textarea>

                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12 ">
                                    <span>Footer Notes:</span>
                                    <textarea class="form-control" #Hotelfooternotes (ngModel)="hoteldetails" value="{{hoteldetails.footerNotes}}" name="footernotes" placeholder="Info for notes to be appeared in footer"></textarea>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 ">
                                    <span>Special Notes:</span>
                                    <textarea class="form-control" #Hotelspecialnotes (ngModel)="hoteldetails" value="{{hoteldetails.specialNotes}}" name="specialnotes" placeholder="Info for notes to be appeared as special notes, i.e for events or offers"></textarea>
                                </div>
                            </div>
                            <br />
                            <button type="submit" class="btn btn-primary" (click)=updateHotelDetails(HotelId.value,Hotelname.value,Hotelfirstnumber.value,Hotelsecondnumber.value,Hotelcountry.value,Hotelstate.value,Hotelcity.value,Hotelzipcode.value,Hoteladdress.value,Hotellicensenumber.value,Hotelheadernotes.value,Hotelfooternotes.value,Hotelspecialnotes.value)>Save changes</button>
                        </div>
                    </div>
                    <!-- END OF TAB 4 -->
                    <!-- TAB 6 -->
                    <!--<div class="tab-pane" id="password">
                        <div class="padding40">

                            <span class="dark size18">Change password</span>
                            <div class="line4"></div>

                            Username
                            <br />
                            <input type="text" class="form-control " placeholder="">
                            <br />
                            Old Password
                            <br />
                            <input type="text" class="form-control " placeholder="">
                            <br />
                            New Password
                            <br />
                            <input type="text" class="form-control " placeholder="">
                            <br />
                            <button type="submit" class="btn btn-primary">Save changes</button>

                            <br />
                            <br />
                            <br />
                            <span class="dark size18">Security</span>
                            <div class="line4"></div>

                            What is your father's middle name?
                            <input type="password" class="form-control " placeholder="●●●●●●●●●">

                            <br />
                            Please choose a security question
                            <br />
                            <select class="form-control mySelectBoxClass hasCustomSelect cpwidth3">
                                <option value="">What is your father's middle name?</option>
                                <option value="">What was the name of your first pet</option>
                                <option value="">What was your first telephone number</option>
                            </select>

                            <br />
                            <br />
                            Please enter an answer
                            <br />
                            <input type="text" class="form-control " placeholder="">

                            <br />
                            Please confirm your answer
                            <br />
                            <input type="text" class="form-control " placeholder="">
                            <br />
                            <button type="submit" class="btn btn-primary">Save changes</button>

                        </div>
                    </div>-->
                    <!-- END OF TAB 6 -->
                </div>
                <!-- End of Tab panes from left menu -->

            </div>
            <!-- END OF RIGHT CPNTENT -->

            <div class="clearfix"></div>
            <br />
            <br />
        </div>
        <!-- END CONTENT -->
    </div>
</div>
<!-- END OF CONTENT -->
<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {{moreinfo}}
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- large Modal Starts-->
<div class="modal fade" id="customerInfoModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Customer Information for room booking</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="fromdate">From Date:<code>*</code></label>
                                <input type="date" class="form-control" #Fromdate (change)="SetFrom($event.target.value)">
                            </div>
                            <div class="col-md-4">
                                <label for="todate">To Date:<code>*</code></label>
                                <input type="date" class="form-control" #Todate  (change)="SetTo($event.target.value)">
                            </div>
                            <div class="col-md-4">
                                <label for="bookingdate">Booking Date:<code>*</code></label>
                                <input type="date" class="form-control" #Bookingdate>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="email">First Name:<code>*</code></label>
                                <input type="text" class="form-control" #Firstname placeholder="Enter first name" name="firstname">
                            </div>
                            <div class="col-md-4">
                                <label for="middlename">Middle Name:</label>
                                <input type="text" class="form-control" #Middlename placeholder="Enter middle name" name="middlename">
                            </div>
                            <div class="col-md-4">
                                <label for="lastname">Last Name:</label>
                                <input type="text" class="form-control" #Lastname placeholder="Enter last name" name="lastname">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="idcardno">ID Card Number:<code>*</code></label>
                                <input type="text" class="form-control" #Idcardnumber placeholder="Enter natonal id card number" name="idcardno">
                            </div>
                            <div class="col-md-4">
                                <label for="phonenumber">Contact Number:<code>*</code></label>
                                <input type="text" class="form-control" #Contactnumber placeholder="Enter phone number" name="phonenumber">
                            </div>
                            <div class="col-md-4">
                                <label for="number">Advance Payment:</label>
                                <input type="number" class="form-control" #Advancepayment name="advancepayment" placeholder="Enter advance payment">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="address">Address:<code>*</code></label>
                                <input type="text" class="form-control" #Address placeholder="Enter address" name="adress">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="city">City:<code>*</code></label>
                                <input type="text" class="form-control" #City placeholder="Enter city name" name="city">
                            </div>
                            <div class="col-md-4">
                                <label for="country">Country:<code>*</code></label>
                                <input type="text" class="form-control" #Country placeholder="Enter country name" name="country">
                            </div>
                            <div class="col-md-4">
                                <label>Payment status:<code>*</code></label>
                                <br />
                                <div class="btn-group" data-toggle="buttons" *ngFor="let ptype of paymentType">
                                    <label (click)="SetPaymentType(ptype);" class="btn btn-default form-check-label">
                                        <input type="radio" name="ptype" value="{{ptype}}" autocomplete="off"> {{ptype}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="totalpayment">Total Payment (per/day):<code>*</code></label>
                                <input type="text" class="form-control" id="totalpayment" name="totalpayment" placeholder="Total Payment" value="{{FeeCal}}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                        </div>
                    </div>
                    <button (click)="RoomBookingbyAdmin(Fromdate.value,Todate.value,Bookingdate.value,Firstname.value,Middlename.value,Lastname.value,Idcardnumber.value,Contactnumber.value,Advancepayment.value,City.value,Country.value,Address.value)" data-dismiss="modal" type="submit" class="btn btn-default">Book Now</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- large Modal Ends-->